.pio/build/project.checksum
.pio/build/megaatmega2560/.sconsign39.dblite
.pio/build/megaatmega2560/firmware.elf
.pio/build/megaatmega2560/firmware.hex
.pio/build/megaatmega2560/libFrameworkArduino.a
.pio/build/megaatmega2560/libFrameworkArduinoVariant.a
.pio/build/megaatmega2560/FrameworkArduino/abi.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/CDC.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/HardwareSerial.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/HardwareSerial0.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/HardwareSerial1.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/HardwareSerial2.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/HardwareSerial3.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/hooks.c.o
.pio/build/megaatmega2560/FrameworkArduino/IPAddress.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/main.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/new.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/PluggableUSB.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/Print.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/Stream.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/Tone.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/USBCore.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/WInterrupts.c.o
.pio/build/megaatmega2560/FrameworkArduino/wiring_analog.c.o
.pio/build/megaatmega2560/FrameworkArduino/wiring_digital.c.o
.pio/build/megaatmega2560/FrameworkArduino/wiring_pulse.c.o
.pio/build/megaatmega2560/FrameworkArduino/wiring_pulse.S.o
.pio/build/megaatmega2560/FrameworkArduino/wiring_shift.c.o
.pio/build/megaatmega2560/FrameworkArduino/wiring.c.o
.pio/build/megaatmega2560/FrameworkArduino/WMath.cpp.o
.pio/build/megaatmega2560/FrameworkArduino/WString.cpp.o
.pio/build/megaatmega2560/lib4a7/libkrnl.a
.pio/build/megaatmega2560/lib4a7/krnl/krnl.c.o
.pio/build/megaatmega2560/lib4a7/krnl/mainpage.c.o
.pio/build/megaatmega2560/lib5bd/libSoftwareSerial.a
.pio/build/megaatmega2560/lib5bd/SoftwareSerial/SoftwareSerial.cpp.o
.pio/build/megaatmega2560/lib601/libDynamixel2Arduino.a
.pio/build/megaatmega2560/lib601/Dynamixel2Arduino/actuator.cpp.o
.pio/build/megaatmega2560/lib601/Dynamixel2Arduino/Dynamixel2Arduino.cpp.o
.pio/build/megaatmega2560/lib601/Dynamixel2Arduino/dxl_c/protocol.c.o
.pio/build/megaatmega2560/lib601/Dynamixel2Arduino/utility/master.cpp.o
.pio/build/megaatmega2560/lib601/Dynamixel2Arduino/utility/port_handler.cpp.o
.pio/build/megaatmega2560/lib601/Dynamixel2Arduino/utility/slave.cpp.o
.pio/build/megaatmega2560/libeb6/libDynamixelShield.a
.pio/build/megaatmega2560/libeb6/DynamixelShield/DynamixelShield.cpp.o
.pio/build/megaatmega2560/libeb6/DynamixelShield/util/RobotisRemoteController.cpp.o
.pio/build/megaatmega2560/src/main.cpp.o
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Crustcrawler_control/v16/.suo
.vs/Crustcrawler_control/v16/Browse.VC.db
.vscode/c_cpp_properties.json
.vscode/launch.json
